/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.color-first {
   background-color: #552583;
   color: #FDB927
}

.color-second {
    background-color: #FDB927;
    color: #552583;
}

a:hover {
    background-color: #FDB927;
    color: #552583;
}